

.default-wrapper {
  position: relative;
  display: table;
  width: 100%;
  height: 100%;
  .default-service-img {
    display: table-cell;
    height: 800px;
    vertical-align: middle;
    text-align: center;
    img {
      max-width: 100%;
    }
  }
}
