.gnb {
    position: fixed;
    top: 50px;
    left: 30px;
    z-index: 9999;
    .nav {
        position: relative;
        margin-top: 9px;
        .nav-depth {
            overflow: hidden;
            margin-top: 7px;
            height: 28px;
            transition: height 0.6s cubic-bezier(0.22, 0.61, 0.36, 1);
            &:first-child {
                margin-top: 0;
            }

            &.active {
                transition: height 0.6s cubic-bezier(0.22, 0.61, 0.36, 1);
                .nav-list {
                    //
                }
            }
        }
        .nav-list {
            position: relative;
            padding-top: 5px;
            li {
                position: relative;
                min-width: 100%;
                color: #e96406;

                &:first-child {
                    margin-top: 13px;
                }
                &:last-child {
                    margin-bottom: 10px;
                }
                &:before {
                    position: relative;
                    top: 0;
                    display: inline-block;
                    margin-right: 4px;
                    content: "-";
                    vertical-align: top;
                    font-weight: normal;
                    font-size: 16px;
                }
                a {
                    display: inline-block;
                    height: 19px;
                    vertical-align: top;
                    font-weight: 500;
                    font-size: 16px;
                }
            }
        }
        ul {
            li {
                position: relative;
                margin-top: 7px;
                font-weight: bolder;
                font-family: "Graphik", sans-serif;
                &:first-child {
                    margin-top: 0;
                }
                // &:nth-child(1) {
                //   a {
                //     > div {
                //       &:last-of-type {
                //         width: 0;
                //         animation: reveal 7s infinite;
                //         span {
                //           margin-left: -355px;
                //           animation: slidein 7s infinite;
                //         }
                //       }
                //     }
                //   }
                // }

                // &:nth-child(2) {
                //   a {
                //     > div {
                //       &:last-of-type {
                //         width: 0;
                //         animation: reveal 7s infinite;
                //         animation-delay: .4s;

                //         span {
                //           margin-left: -355px;
                //           animation: slidein 7s infinite;
                //           animation-delay: .4s;
                //         }
                //       }
                //     }
                //   }
                // }

                // &:nth-child(3) {
                //   a {
                //     > div {
                //       &:last-of-type {
                //         width: 0;
                //         animation: reveal 7s infinite;
                //         animation-delay: .8s;
                //         span {
                //           margin-left: -355px;
                //           animation: slidein 7s infinite;
                //           animation-delay: .8s;
                //         }
                //       }
                //     }
                //   }
                // }

                a {
                    color: #e96406;
                    font-weight: 500;
                    font-size: 24px;
                    font-family: "Graphik", sans-serif;

                    div {
                        display: inline-block;
                        overflow: hidden;
                        white-space: nowrap;
                    }
                }
            }
        }
    }

    .logo {
        position: relative;
        display: inline-block;
        width: 74px;
        height: 64px;
        font-size: 0;
        &:hover {
            span {
                transition: all 0.4s cubic-bezier(0.53, 0.29, 1, 0.81);

                &:nth-child(1),
                &:nth-child(3),
                &:nth-child(5) {
                    top: 0;
                }

                &:nth-child(2),
                &:nth-child(4) {
                    top: 17px;
                }
            }
        }
        i {
            position: relative;
            display: block;
            width: 100%;
            height: 100%;
        }
        span {
            position: absolute;
            display: inline-block;
            width: 10px;
            height: 38px;
            background: url("../img/logo-bg.png") no-repeat;
            background-size: 100%;
            vertical-align: top;
            transition: all 0.3s cubic-bezier(0.53, 0.29, 1, 0.81);

            &:first-child {
                margin-left: 0;
            }

            &:nth-child(2) {
                top: 0;
                left: 16px;
            }

            &:nth-child(3) {
                left: 32px;
            }

            &:nth-child(4) {
                top: 0;
                left: 48px;
            }

            &:nth-child(5) {
                left: 64px;
            }

            &:nth-child(1),
            &:nth-child(3),
            &:nth-child(5) {
                top: 19px;
            }
        }
    }
}

.visual-wrap {
    position: relative;
    top: -35px;
    .visual-logo {
        position: relative;
        z-index: 100;
        display: block;
        margin: 0 auto;
        width: 184px;
        height: 128px;
        font-size: 0;
        transition: top 0.4s ease-out;

        + .visual {
            margin-top: 34px;
        }

        &.on {
            span {
                &:nth-child(1) {
                    animation: slideUp 0.7s cubic-bezier(0.68, -0.55, 0.265, 1.55) forwards;
                    animation-delay: 0.1s;
                }

                &:nth-child(2) {
                    animation: slideDown2 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55) forwards;
                }

                &:nth-child(3) {
                    animation: slideUp 0.7s cubic-bezier(0.68, -0.55, 0.265, 1.55) forwards;
                }

                &:nth-child(4) {
                    animation: slideDown2 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55) forwards;
                }

                &:nth-child(5) {
                    animation: slideUp 0.9s cubic-bezier(0.68, -0.55, 0.265, 1.55) forwards;
                    animation-delay: 0.1s;
                }
            }
        }
        span {
            position: absolute;
            width: 24px;
            height: 90px;
            background: url("../img/visual-bg.png") no-repeat;
            vertical-align: top;
            &:nth-child(1) {
                animation: slideDown 1.5s cubic-bezier(0.68, -0.55, 0.265, 1.55) forwards;
            }

            &:nth-child(2) {
                animation: slideUp2 1.4s cubic-bezier(0.68, -0.55, 0.265, 1.55) forwards;
            }

            &:nth-child(3) {
                animation: slideDown 1.3s cubic-bezier(0.68, -0.55, 0.265, 1.55) forwards;
            }

            &:nth-child(4) {
                animation: slideUp2 1.2s cubic-bezier(0.68, -0.55, 0.265, 1.55) forwards;
            }

            &:nth-child(5) {
                animation: slideDown 1s cubic-bezier(0.68, -0.55, 0.265, 1.55) forwards;
            }
            &:nth-child(1),
            &:nth-child(3),
            &:nth-child(5) {
                top: 38px;
            }

            &:nth-child(2) {
                top: 0;
                left: 40px;
            }

            &:nth-child(3) {
                left: 80px;
            }

            &:nth-child(4) {
                top: 0;
                left: 120px;
            }

            &:nth-child(5) {
                left: 160px;
            }
        }
    }
}

.pg-wrapper {
    min-width: 1080px;
}

.pg-container {
    overflow: hidden;
    width: 100%;

    #page-1 {
        //slide 첫번째
        position: relative;
        width: 100%;
        height: 100%;
        background-image: url("../img/full-bg01.jpg");
        background-position: left bottom;
        background-size: cover;
        background-repeat: no-repeat;
    }

    #page-2 {
        //slide 두번째
        overflow: hidden;
        margin-top: -1px;
        background-image: url("../img/full-bg02.jpg");
        background-position: left top;
        background-size: cover;
        background-repeat: no-repeat;
        .visual-wrap {
            top: -139px;
        }
    }

    #page-3 {
        //slide 세번째
        margin-top: -2px;
        background: #fff;
        background-size: cover;
        .visual-wrap {
            top: -61px;
        }
    }

    .section {
        position: relative;
        height: 100vh;
        .visual {
            position: relative;
            z-index: 100;
            display: block;

            &.on {
                .visual-text {
                    span {
                        &:nth-child(1) {
                            animation: hideed 0.1s cubic-bezier(0.22, 0.61, 0.36, 1) forwards;
                        }
                        &:nth-child(2) {
                            animation: hideed 0.1s cubic-bezier(0.22, 0.61, 0.36, 1) forwards;
                        }
                        &:nth-child(3) {
                            animation: hideed 0.1s cubic-bezier(0.22, 0.61, 0.36, 1) forwards;
                        }
                    }
                }

                .snb {
                    animation: hideed 0.1s cubic-bezier(0.22, 0.61, 0.36, 1) forwards;
                }

                .visual-text-subline {
                    span {
                        &:nth-child(1) {
                            animation: hideed 0.1s cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
                        }
                        &:nth-child(2) {
                            animation: hideed 0.1s cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
                        }
                        &:nth-child(3) {
                            animation: hideed 0.1s cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
                        }
                        &:nth-child(4) {
                            animation: hideed 0.1s cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
                        }
                    }
                }
            }
            @keyframes slide-rotate-hor-b-bck {
                0% {
                    opacity: 1;
                    transform: translateY(0) translateZ(0) rotateX(0deg);
                    transform-origin: bottom center;
                }
                100% {
                    opacity: 0;
                    transform: translateY(10px) translateZ(-180px) rotateX(90deg);
                    transform-origin: bottom center;
                }
            }

            .snb {
                font-size: 0;
                opacity: 0;
                animation: slide-rotate-hor-b-bck 1s cubic-bezier(0.455, 0.03, 0.515, 0.955) reverse both;
                animation-delay: 1s;
                li {
                    display: inline-block;
                    vertical-align: top;

                    &:last-child {
                        &:after {
                            display: none;
                        }
                    }
                    &:after {
                        position: relative;
                        top: 4px;
                        display: inline-block;
                        margin: 0 18px 0 16px;
                        content: "◆";
                        vertical-align: top;
                        font-size: 15px;
                    }
                    a {
                        font-weight: bolder;
                        font-size: 24px;
                    }
                }
            }

            .visual-text-subline {
                z-index: 999;
                display: block;
                color: #e96406;
                text-align: center;
                line-height: 48px;

                span {
                    display: block;
                    word-break: keep-all;
                    font-weight: 500;
                    font-size: 20px;
                    font-family: "Spoqa Han Sans Neo", sans-serif;
                    &:nth-child(1) {
                        opacity: 0;
                        animation: slide-rotate-hor-b-bck 1s cubic-bezier(0.455, 0.03, 0.515, 0.955) reverse both;
                        animation-delay: 1.3s;
                    }
                    &:nth-child(2) {
                        opacity: 0;
                        animation: slide-rotate-hor-b-bck 1s cubic-bezier(0.455, 0.03, 0.515, 0.955) reverse both;
                        animation-delay: 2.4s;
                    }
                    &:nth-child(3) {
                        opacity: 0;
                        animation: slide-rotate-hor-b-bck 1s cubic-bezier(0.455, 0.03, 0.515, 0.955) reverse both;
                        animation-delay: 2.6s;
                    }
                    &:nth-child(4) {
                        opacity: 0;
                        animation: slide-rotate-hor-b-bck 1s cubic-bezier(0.455, 0.03, 0.515, 0.955) reverse both;
                        animation-delay: 2.8s;
                    }

                    &.small {
                        margin-top: 11px;
                        font-weight: 400;
                        font-size: 20px;
                        line-height: 30px;
                        &:last-child {
                            margin-top: 0;
                        }
                    }
                }
            }

            .visual-text {
                z-index: 999;
                display: block;
                color: #e96406;
                text-align: center;
                font-weight: bolder;

                + .visual-text-subline {
                    margin-top: 11px;
                }

                span {
                    display: block;
                    font-size: 60px;
                    font-family: "Graphik", sans-serif;
                    &:nth-child(1) {
                        opacity: 0;
                        animation: titleAnimation 2s cubic-bezier(0.22, 0.61, 0.36, 1) forwards;
                        animation-delay: 0.6s;
                    }
                    &:nth-child(2) {
                        opacity: 0;
                        animation: titleAnimation 2s cubic-bezier(0.22, 0.61, 0.36, 1) forwards;
                        animation-delay: 0.8s;
                    }
                    &:nth-child(3) {
                        opacity: 0;
                        animation: titleAnimation 2s cubic-bezier(0.22, 0.61, 0.36, 1) forwards;
                        animation-delay: 1s;
                    }

                    + span {
                        margin-top: 0;
                    }

                    &.small {
                        margin-top: 6px;
                        font-weight: bolder;
                        font-size: 24px;
                        font-family: "Graphik", sans-serif;

                        + .snb {
                            margin-top: 13px;
                        }
                    }
                }
            }
        }
    }
}

footer {
    display: flex;
    height: 200px;
    background-color: #e9e9e9;

    justify-content: center;
    ul {
        padding-top: 30px;
        font-size: 0;
        li {
            display: inline-block;
            margin-left: 34px;
            color: #656565;
            vertical-align: top;
            font-weight: 400;
            font-size: 14px;
            font-family: "Spoqa Han Sans Neo", sans-serif;
            &:first-child {
                margin-left: 0;
            }
            a {
                color: #656565;
                font-weight: 400;
                font-family: "Spoqa Han Sans Neo", sans-serif;
            }
        }
    }
}

.rocket-wrap {
    position: absolute;
    top: 0;
    z-index: 7;
    display: inline-block;
    width: 100%;
    height: 100%;
    transition: all 0.4s ease-out;
    animation: shake 1s infinite;
    animation-delay: 4s;

    .rocket {
        position: absolute;
        right: 126px;
        bottom: 0;
        z-index: 7;
        width: 244px;
        height: 810px;
        background: url("../img/rocket.png") no-repeat right bottom;
        opacity: 0;
        transition: all 0.4s ease-out;
        &.on {
            animation: slide-top 1.8s cubic-bezier(0.68, -0.55, 0.265, 1.55) forwards;
            animation-delay: 0.8s;
        }
    }
}

.cloud {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    height: 100%;
    &-bg02 {
        position: absolute;
        right: 0;
        bottom: 0;
        z-index: 5;
        width: 100%;
        height: 100%;
        background: url("../img/cloud02.png") repeat-x right -45px bottom -20px;
        &:after {
            position: absolute;
            bottom: -300px;
            width: 100%;
            height: 300px;
            background-color: #629ad6;
            content: "";
        }
    }

    &-bg01 {
        position: absolute;
        right: 0;
        bottom: 0;
        z-index: 10;
        width: 100%;
        height: 100%;
        background: url("../img/cloud01.png") repeat-x right -45px bottom -10px;
        &:after {
            position: absolute;
            bottom: -399px;
            width: 100%;
            height: 399px;
            background-color: #fff;
            content: "";
        }
    }

    &.on {
        .cloud-bg01 {
            animation: slide-top 1.3s cubic-bezier(0.68, -0.55, 0.265, 1.55) forwards;
        }

        .cloud-bg02 {
            animation: slide-top 1.3s cubic-bezier(0.68, -0.55, 0.265, 1.55) forwards;
            animation-duration: 1.6s;
        }
    }
}

@media all and (max-height: 1000px) {
    .rocket-wrap .rocket {
        bottom: 0;
        transition: all 0.4s ease-out;
    }
}

@media all and (max-height: 800px) {
    .rocket-wrap .rocket {
        bottom: -5%;
        transition: all 0.4s ease-out;
    }
}

@media all and (max-height: 768px) {
    .rocket-wrap {
        opacity: 0;
        transition: all 0.4s ease-out;
    }
}
