.what-we-do {
    .fix.-bg01::before,
    .fix_target.-bg01::before {
        display: none;
    }

    .suv-assi-wrap {
        font-weight: 400;
    }

    .fix.-bg01 + .suv-contents .suv-assi-wrap ul li p,
    .fix_target.-bg01 + .suv-contents .suv-assi-wrap ul li p {
        font-weight: 400;
    }
}

.eng {
    .contact-us {
        .suv-contents .suv-title-wrap + .suv-assi-wrap {
            margin-top: 100px;
        }
    }
}

.flex {
    display: flex;
    margin-top: 94px;
    dl {
        width: 604px;
        font-size: 0px;
        + dl {
            margin-left: 60px;
        }

        dt {
            font-family: "Graphik", sans-serif;
            font-size: 24px;
            font-weight: 500;
            margin-bottom: 18px;
            opacity: 0;
            transition: opacity 1s cubic-bezier(0.455, 0.03, 0.515, 0.955), transform 0.8s cubic-bezier(0.455, 0.03, 0.515, 0.955);
            transform: translateY(10px) translateZ(-180px) rotateX(90deg);
            &.titleOn {
                @include titleOn;
            }
        }
        dd {
            display: inline-block;
            vertical-align: top;
            border-left: 1px solid #e3e3e3;
            border-top: 1px solid #e3e3e3;
            transition: opacity 1s cubic-bezier(0.455, 0.03, 0.515, 0.955), transform 0.8s cubic-bezier(0.455, 0.03, 0.515, 0.955);
            transform: translateX(50px);
            opacity: 0;
            &.slideRight {
                opacity: 1;
                transition: opacity 1s cubic-bezier(0.455, 0.03, 0.515, 0.955), transform 0.8s cubic-bezier(0.455, 0.03, 0.515, 0.955);
                transform: translateX(0px);
            }
            span {
                display: inline-block;
                vertical-align: top;
                border-right: 1px solid #e3e3e3;
                border-bottom: 1px solid #e3e3e3;
            }
        }
    }
}

//전문적인 트래킹
.tech-rt-wrap {
    position: absolute;
    top: 350px;
    right: 358px;
    font-size: 0px;
    @at-root {
        .eng .tech-rt-wrap .tech-box span {
            top: 145px;
            line-height: 22px;
        }

        .tech-rt-wrap {
            top: 346px;
        }
    }
    .tech-box {
        position: absolute;
        opacity: 0;
        transition: opacity 1s cubic-bezier(0.455, 0.03, 0.515, 0.955);
        &.tech {
            opacity: 1;
            transition: opacity 1s cubic-bezier(0.455, 0.03, 0.515, 0.955);
        }
        &:first-child {
            left: 50%;
            transform: translateX(-50%);
        }

        &.top {
            bottom: 0px;
            width: 142px;
            height: 142px;
            background: url("../img/wwd/tech/tech-right-images01.png") no-repeat;
            transition: opacity 1s cubic-bezier(0.455, 0.03, 0.515, 0.955), bottom 0.8s cubic-bezier(0.455, 0.03, 0.515, 0.955);
            &.tech {
                bottom: 220px;
                transition: opacity 1s cubic-bezier(0.455, 0.03, 0.515, 0.955), bottom 0.8s cubic-bezier(0.455, 0.03, 0.515, 0.955);
            }
            &:after {
                content: "";
                position: absolute;
                bottom: -76px;
                left: 50%;
                transform: translateX(-50%);
                width: 53px;
                height: 42px;
                background: url("../img/wwd/wwd-arrow-bg.png") no-repeat;
            }
        }

        &.left {
            width: 142px;
            height: 142px;
            background: url("../img/wwd/tech/tech-right-images02.png") no-repeat;
            transition: opacity 1s cubic-bezier(0.455, 0.03, 0.515, 0.955), left 0.8s cubic-bezier(0.455, 0.03, 0.515, 0.955);
            &.tech {
                left: 2px;
                transition: opacity 1s cubic-bezier(0.455, 0.03, 0.515, 0.955), left 0.8s cubic-bezier(0.455, 0.03, 0.515, 0.955);
            }
            &:after {
                content: "or";
                position: absolute;
                right: -43px;
                top: 54px;
                font-size: 30px;
                font-weight: 500;
                font-family: "Graphik", sans-serif;
                color: #b3b3b3;
            }
            left: 25%;
        }

        &.center {
            width: 142px;
            height: 142px;
            background: url("../img/wwd/tech/tech-right-images03.png") no-repeat;
            &:after {
                content: "or";
                position: absolute;
                right: -43px;
                top: 54px;
                font-size: 30px;
                font-weight: 500;
                font-family: "Graphik", sans-serif;

                color: #b3b3b3;
            }
        }

        &.right {
            width: 142px;
            height: 142px;
            background: url("../img/wwd/tech/tech-right-images04.png") no-repeat;
            right: 25%;
            transition: opacity 1s cubic-bezier(0.455, 0.03, 0.515, 0.955), right 0.8s cubic-bezier(0.455, 0.03, 0.515, 0.955);
            &.tech {
                right: 2px;
                transition: opacity 1s cubic-bezier(0.455, 0.03, 0.515, 0.955), right 0.8s cubic-bezier(0.455, 0.03, 0.515, 0.955);
            }
        }

        span {
            text-align: center;
            line-height: 22px;
            position: absolute;
            bottom: -24px;
            left: 50%;
            transform: translateX(-50%);
            white-space: nowrap;
            font-size: 15px;
            font-family: "Spoqa Han Sans Neo", sans-serif;
        }
    }

    .tech-box:not(:first-child) {
        position: relative;
        display: inline-block;
        width: 142px;
        height: 142px;
        margin-left: 60px;
    }

    .tech-box:nth-child(2) {
        margin-left: 0px;
    }
}

.circle {
    width: 200px;
    height: 200px;
    border: 1px solid #bdbdbd;
    border-radius: 50%;
    display: inline-block;
    vertical-align: top;

    position: relative;
    text-align: center;
    background-color: #fff;

    > span {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        line-height: 20px;
        letter-spacing: -0.05em;
        font-size: 16px;
        font-weight: bold;
        font-family: "Spoqa Han Sans Neo", sans-serif;
    }
    &.orange {
        border: 1px solid #ea6a10;
        color: #ea6a10;
    }
    &.left.top {
        left: -41.5px;
        top: -41.5px;
    }

    &.right.top {
        right: -41.5px;
        top: -41.5px;
    }

    &.left.bottom {
        left: -41.5px;
        bottom: -41.5px;
    }

    &.right.bottom {
        right: -41.5px;
        bottom: -41.5px;
    }
    &.small {
        width: 110px;
        height: 110px;
        span {
            line-height: 18px;
            font-size: 15px;
        }
    }

    &.large {
        width: 240px;
        height: 240px;
        > span {
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            position: absolute;
            letter-spacing: 0;
            display: block;
            height: auto;

            font-size: 30px;
            line-height: 30px;
            .text.small {
                margin-top: 11px;
                position: relative;
                display: block;
                font-weight: 400;
                font-size: 15px;
                line-height: 18px;
                text-transform: none;
                white-space: nowrap;
            }
        }
    }
    .circle {
        position: absolute;
    }
}

/*오디언스 플래닝 */
.audience-wrap {
    margin-top: 74px;
    font-size: 0px;

    .circle {
        opacity: 0;
        transform: scale(0);
        transition: opacity 1s cubic-bezier(0.455, 0.03, 0.515, 0.955), transform 0.8s cubic-bezier(0.455, 0.03, 0.515, 0.955);
        &.scaleUp {
            opacity: 1;
            transform: scale(1);
            transition: opacity 1s cubic-bezier(0.455, 0.03, 0.515, 0.955), transform 0.8s cubic-bezier(0.455, 0.03, 0.515, 0.955);

            .circle.left.top {
                opacity: 1;
                transform: scale(1);
                transition: opacity 1s cubic-bezier(0.455, 0.03, 0.515, 0.955), transform 0.8s cubic-bezier(0.455, 0.03, 0.515, 0.955), left 0.8s cubic-bezier(0.455, 0.03, 0.515, 0.955),
                    top 0.8s cubic-bezier(0.455, 0.03, 0.515, 0.955);
                left: -41.5px;
                top: -41.5px;
                transition-delay: 1.8s;
            }

            .circle.right.top {
                opacity: 1;
                transform: scale(1);
                transition: opacity 1s cubic-bezier(0.455, 0.03, 0.515, 0.955), transform 0.8s cubic-bezier(0.455, 0.03, 0.515, 0.955), right 0.8s cubic-bezier(0.455, 0.03, 0.515, 0.955),
                    top 0.8s cubic-bezier(0.455, 0.03, 0.515, 0.955);
                right: -41.5px;
                top: -41.5px;
                transition-delay: 1.8s;
            }

            .circle.left.bottom {
                opacity: 1;
                transform: scale(1);
                transition: opacity 1s cubic-bezier(0.455, 0.03, 0.515, 0.955), transform 0.8s cubic-bezier(0.455, 0.03, 0.515, 0.955), left 0.8s cubic-bezier(0.455, 0.03, 0.515, 0.955),
                    bottom 0.8s cubic-bezier(0.455, 0.03, 0.515, 0.955);
                left: -41.5px;
                bottom: -41.5px;
                transition-delay: 1.8s;
            }

            .circle.right.bottom {
                opacity: 1;
                transform: scale(1);
                transition: opacity 1s cubic-bezier(0.455, 0.03, 0.515, 0.955), transform 0.8s cubic-bezier(0.455, 0.03, 0.515, 0.955), right 0.8s cubic-bezier(0.455, 0.03, 0.515, 0.955),
                    bottom 0.8s cubic-bezier(0.455, 0.03, 0.515, 0.955);
                right: -41.5px;
                bottom: -41.5px;
                transition-delay: 1.8s;
            }
        }

        .circle.left.top {
            left: 0px;
            top: 0px;
            transition: left 0.8s cubic-bezier(0.455, 0.03, 0.515, 0.955), top 0.8s cubic-bezier(0.455, 0.03, 0.515, 0.955);
        }

        .circle.right.top {
            right: 0px;
            top: 0px;
            transition: right 0.8s cubic-bezier(0.455, 0.03, 0.515, 0.955), top 0.8s cubic-bezier(0.455, 0.03, 0.515, 0.955);
        }

        .circle.left.bottom {
            left: 0px;
            bottom: 0px;
            transition: left 0.8s cubic-bezier(0.455, 0.03, 0.515, 0.955), bottom 0.8s cubic-bezier(0.455, 0.03, 0.515, 0.955);
        }

        .circle.right.bottom {
            right: 0px;
            bottom: 0px;
            transition: right 0.8s cubic-bezier(0.455, 0.03, 0.515, 0.955), bottom 0.8s cubic-bezier(0.455, 0.03, 0.515, 0.955);
        }
    }

    .audience-box {
        position: relative;
        display: inline-block;
        vertical-align: top;
        + .audience-box {
            &.slideRight {
                &:after {
                    transition-delay: 2.2s;
                }
            }
        }

        &.slideRight {
            &:after {
                opacity: 1;
                transition: opacity 1s cubic-bezier(0.455, 0.03, 0.515, 0.955), transform 0.8s cubic-bezier(0.455, 0.03, 0.515, 0.955);
                transform: translateX(0px);
                transition-delay: 1.2s;
            }
        }
        &:last-child {
            &:after {
                display: none;
            }
        }

        &:after {
            transition: opacity 1s cubic-bezier(0.455, 0.03, 0.515, 0.955), transform 0.8s cubic-bezier(0.455, 0.03, 0.515, 0.955);
            transform: translateX(-50px);
            opacity: 0;
            content: "";
            display: inline-block;
            vertical-align: top;
            position: relative;
            top: 54px;
            right: -47px;
            background: url("../img/wwd/wwd-arrow-right.png") no-repeat;
            width: 110px;
            height: 92px;
        }
        &:nth-child(1) {
            width: 360px;
        }

        &:nth-child(2) {
            width: 488px;
            > .circle {
                left: 40px;
            }

            &:after {
                right: -78px;
            }
        }

        &:last-child {
            left: -87px;
            top: -13px;
        }

        .audience-tt {
            margin-bottom: 69px;
            line-height: 26px;
            font-size: 20px;
            opacity: 0;
            transition: opacity 1s cubic-bezier(0.455, 0.03, 0.515, 0.955), transform 0.8s cubic-bezier(0.455, 0.03, 0.515, 0.955);
            transform: translateY(10px) translateZ(-180px) rotateX(90deg);

            @at-root {
                .eng {
                    .audience-wrap .audience-box .audience-tt.dpi {
                        margin-bottom: 44px;
                        margin-left: 10px;
                    }
                    .audience-wrap {
                        .circle > span {
                            font-weight: 500;
                        }
                    }
                }
            }
            &.titleOn {
                @include titleOn;
            }
            &.orange {
                color: #ea6a10;
            }
        }

        .audience-list {
            display: inline-block;
            vertical-align: top;
            li {
                border-radius: 20px;
                border: 1px solid #ea6a10;
                color: #ea6a10;
                width: 160px;
                height: 40px;
                line-height: 40px;
                margin-top: 16px;
                font-size: 15px;
                text-align: center;
                opacity: 0;
                transition: opacity 1s cubic-bezier(0.455, 0.03, 0.515, 0.955), transform 0.8s cubic-bezier(0.455, 0.03, 0.515, 0.955);
                transform: translateY(-50%);
                &.slideUp {
                    opacity: 1;
                    transition: opacity 1s cubic-bezier(0.455, 0.03, 0.515, 0.955), transform 0.8s cubic-bezier(0.455, 0.03, 0.515, 0.955);
                    transform: translateY(0);
                }
                &:first-child {
                    margin-top: 0px;
                }
            }
        }

        .audience-3rd {
            display: inline-block;
            vertical-align: top;
            margin-left: 29px;
            margin-top: -4px;
            ul {
                li {
                    position: relative;
                    margin-top: 28px;
                    opacity: 0;
                    transition: opacity 1s cubic-bezier(0.455, 0.03, 0.515, 0.955), transform 0.8s cubic-bezier(0.455, 0.03, 0.515, 0.955);
                    transform: translateX(-50%);
                    &.slideRight {
                        opacity: 1;
                        transition: opacity 1s cubic-bezier(0.455, 0.03, 0.515, 0.955), transform 0.8s cubic-bezier(0.455, 0.03, 0.515, 0.955);
                        transform: translateX(0px);
                    }
                    &:first-child {
                        margin-top: 0px;
                    }
                    span {
                        font-size: 15px;
                        letter-spacing: -0.025em;
                        position: relative;
                        right: -83px;
                        top: calc(50% - 6px);
                        white-space: nowrap;
                        text-align: left;
                    }
                    &.rd1 {
                        width: 72px;
                        height: 72px;
                        background: url("../img/wwd/odi/odi-aud01.png") no-repeat;
                    }

                    &.rd2 {
                        width: 72px;
                        height: 72px;
                        background: url("../img/wwd/odi/odi-aud02.png") no-repeat;
                    }

                    &.rd3 {
                        width: 72px;
                        height: 72px;
                        background: url("../img/wwd/odi/odi-aud03.png") no-repeat;
                    }
                }
            }
        }
    }
}

.oper-wrap {
    margin-top: 98px;
    font-size: 0px;
    .oper-box {
        display: inline-block;
        vertical-align: top;

        &.circleTrans {
            &:nth-child(1) {
                &:after {
                    opacity: 1;
                    transform: rotate(0deg);
                    transition: opacity 1s cubic-bezier(0.455, 0.03, 0.515, 0.955), transform 0.8s cubic-bezier(0.455, 0.03, 0.515, 0.955);
                    transition-delay: 2s;
                }
            }

            &:nth-child(2) {
                &:after {
                    opacity: 1;
                    transform: translateX(0%);
                    transition: opacity 1s cubic-bezier(0.455, 0.03, 0.515, 0.955), transform 0.8s cubic-bezier(0.455, 0.03, 0.515, 0.955);
                    transition-delay: 2.4s;
                }
            }
        }

        .circle {
            opacity: 0;
            transform: scale(0);
            transition: opacity 1s cubic-bezier(0.455, 0.03, 0.515, 0.955), transform 0.8s cubic-bezier(0.455, 0.03, 0.515, 0.955);
            &.scaleUp {
                opacity: 1;
                transform: scale(1);
                transition: opacity 1s cubic-bezier(0.455, 0.03, 0.515, 0.955), transform 0.8s cubic-bezier(0.455, 0.03, 0.515, 0.955);
            }
        }

        &:nth-child(1) {
            &:after {
                content: "";
                position: relative;
                margin: 95px 15px 0;
                display: inline-block;
                vertical-align: top;
                width: 52px;
                height: 52px;
                background: url("../img/wwd/wwd-gray-plus-large.png") no-repeat;

                opacity: 0;
                transform: rotate(360deg);
                transition: opacity 1s cubic-bezier(0.455, 0.03, 0.515, 0.955), transform 0.8s cubic-bezier(0.455, 0.03, 0.515, 0.955);
                transition-delay: 2s;
            }
        }

        &:nth-child(2) {
            &:after {
                content: "";
                position: relative;
                margin: 104px 19px 0;
                display: inline-block;
                vertical-align: top;
                width: 42px;
                height: 42px;
                background: url("../img/wwd/wwd-equl.png") no-repeat;

                opacity: 0;
                transform: translateX(-50%);
                transition: opacity 1s cubic-bezier(0.455, 0.03, 0.515, 0.955), transform 0.8s cubic-bezier(0.455, 0.03, 0.515, 0.955);
                transition-delay: 2s;
            }
        }
    }
}

.clients-wrap {
    @at-root {
        .eng {
            .clients-wrap {
                margin-top: 0;
            }
        }
    }
    margin-top: 32px;
    width: 100%;
    max-width: 1260px;
    display: block;
    .clients-text {
        margin-bottom: 20px;
        position: relative;
        font-size: 15px;
        font-family: "Spoqa Han Sans Neo", sans-serif;
        font-weight: 400;
        transition: opacity 1s cubic-bezier(0.455, 0.03, 0.515, 0.955), transform 0.8s cubic-bezier(0.455, 0.03, 0.515, 0.955);
        transform: translateX(50px);
        opacity: 0;
        &.slideRight {
            opacity: 1;
            transition: opacity 1s cubic-bezier(0.455, 0.03, 0.515, 0.955), transform 0.8s cubic-bezier(0.455, 0.03, 0.515, 0.955);
            transform: translateX(0px);
        }
    }
    ul {
        font-size: 0;
        li {
            width: 120px;
            height: 120px;
            border: 1px solid #d5d5d5;
            display: inline-block;
            vertical-align: top;
            margin-right: 10px;
            margin-bottom: 10px;
            opacity: 0;
            transition: opacity 1s cubic-bezier(0.455, 0.03, 0.515, 0.955), transform 0.8s cubic-bezier(0.455, 0.03, 0.515, 0.955);
            transform: translateY(100%);
            &.slideUp {
                opacity: 1;
                transition: opacity 1s cubic-bezier(0.455, 0.03, 0.515, 0.955), transform 0.8s cubic-bezier(0.455, 0.03, 0.515, 0.955);
                transform: translateY(0);
            }
        }
    }
}

.cover-wrap {
    position: relative;
    margin-top: 55px;
    width: 1103px;
    .cover-text {
        margin-bottom: 20px;
        margin-left: 150px;
        position: relative;
        font-size: 15px;
        font-family: "Spoqa Han Sans Neo", sans-serif;
        font-weight: 400;
        transition: opacity 1s cubic-bezier(0.455, 0.03, 0.515, 0.955), transform 0.8s cubic-bezier(0.455, 0.03, 0.515, 0.955);
        transform: translateX(50px);
        opacity: 0;
        &.slideRight {
            opacity: 1;
            transition: opacity 1s cubic-bezier(0.455, 0.03, 0.515, 0.955), transform 0.8s cubic-bezier(0.455, 0.03, 0.515, 0.955);
            transform: translateX(0px);
        }
    }
    &.svgon {
        &:before {
            color: #777;
            transition: color 1s cubic-bezier(0.455, 0.03, 0.515, 0.955);
            transition-delay: 5s;
        }
        &:after {
            color: #777;
            transition: color 1s cubic-bezier(0.455, 0.03, 0.515, 0.955);
            transition-delay: 5s;
        }
        line {
            &:first-child {
                stroke-dashoffset: 146;
                stroke-dasharray: 291;
                transition: all 1s cubic-bezier(0.455, 0.03, 0.515, 0.955);
                transition-delay: 1.8s;
            }

            &:nth-child(2) {
                stroke-dashoffset: 987;
                stroke-dasharray: 1973;
                transition: all 1s cubic-bezier(0.455, 0.03, 0.515, 0.955);
                transition-delay: 2.9s;
            }

            &:nth-child(3) {
                stroke-dashoffset: 146;
                stroke-dasharray: 291;
                transition: all 1s cubic-bezier(0.455, 0.03, 0.515, 0.955);
                transition-delay: 3.8s;
            }

            &:nth-child(4) {
                stroke-dashoffset: 987;
                stroke-dasharray: 1973;
                transition: all 1s cubic-bezier(0.455, 0.03, 0.515, 0.955);
                transition-delay: 2.9s;
            }

            &:nth-child(5) {
                stroke-dashoffset: 146;
                stroke-dasharray: 291;
                transition: all 1s cubic-bezier(0.455, 0.03, 0.515, 0.955);
                transition-delay: 1.8s;
            }

            &:nth-child(6) {
                stroke-dashoffset: 987;
                stroke-dasharray: 1973;
                transition: all 1s cubic-bezier(0.455, 0.03, 0.515, 0.955);
                transition-delay: 2.9s;
            }

            &:nth-child(7) {
                stroke-dashoffset: 146;
                stroke-dasharray: 291;
                transition: all 1s cubic-bezier(0.455, 0.03, 0.515, 0.955);
                transition-delay: 3.8s;
            }
        }
    }

    &:before {
        content: "ONLINE";
        position: absolute;
        display: block;
        right: -6px;
        top: 122px;
        font-size: 16px;
        font-family: "Graphik", sans-serif;
        font-weight: 500;
        color: transparent;
        width: 70px;
        text-align: left;
        transition: color 1s cubic-bezier(0.455, 0.03, 0.515, 0.955);
        transition-delay: 5s;
    }
    &:after {
        content: "OFFLINE";
        position: absolute;
        display: block;
        right: -6px;
        bottom: 84px;
        font-size: 16px;
        font-family: "Graphik", sans-serif;
        font-weight: 500;
        color: transparent;
        width: 70px;
        text-align: left;
        transition: color 1s cubic-bezier(0.455, 0.03, 0.515, 0.955);
        transition-delay: 5s;
    }

    .cover-list-wrap {
        position: absolute;
        right: -114px;
        top: calc(50% - 158px);
        .cover-list {
            opacity: 0;
            transition: opacity 1s cubic-bezier(0.455, 0.03, 0.515, 0.955);
            &.opaon {
                opacity: 1;
                transition: opacity 1s cubic-bezier(0.455, 0.03, 0.515, 0.955);
            }
            + .cover-list {
                margin-top: 110px;
            }
            position: relative;
            ul {
                &:before {
                    content: "";
                    position: absolute;
                    top: 8px;
                    height: calc(100% - 16px);
                    width: 1px;
                    background-color: #d5d5d5;
                }
                li {
                    margin-top: 4px;
                    &:first-child {
                        margin-top: 0;
                    }
                    font-size: 16px;
                    font-weight: 400;
                    font-family: "Spoqa Han Sans Neo", sans-serif;
                    &:before {
                        content: "";
                        position: relative;
                        display: inline-block;
                        vertical-align: top;
                        top: 7px;
                        margin-right: 4px;
                        width: 7px;
                        height: 1px;
                        background-color: #d5d5d5;
                    }
                }
            }
        }
    }
    svg {
        position: absolute;
        top: 92px;
        left: 73px;
        line {
            &:first-child {
                stroke-dashoffset: 146;
                stroke-dasharray: 146;
                transition: all 1s cubic-bezier(0.455, 0.03, 0.515, 0.955);
                transition-delay: 1.8s;
            }

            &:nth-child(2) {
                stroke-dashoffset: 987;
                stroke-dasharray: 987;
                transition: all 1s cubic-bezier(0.455, 0.03, 0.515, 0.955);
                transition-delay: 2.9s;
            }

            &:nth-child(3) {
                stroke-dashoffset: 146;
                stroke-dasharray: 146;
                transition: all 1s cubic-bezier(0.455, 0.03, 0.515, 0.955);
                transition-delay: 3.8s;
            }

            &:nth-child(4) {
                stroke-dashoffset: 987;
                stroke-dasharray: 987;
                transition: all 1s cubic-bezier(0.455, 0.03, 0.515, 0.955);
                transition-delay: 2.9s;
            }

            &:nth-child(5) {
                stroke-dashoffset: 146;
                stroke-dasharray: 146;
                transition: all 1s cubic-bezier(0.455, 0.03, 0.515, 0.955);
                transition-delay: 1.8s;
            }

            &:nth-child(6) {
                stroke-dashoffset: 987;
                stroke-dasharray: 987;
                transition: all 1s cubic-bezier(0.455, 0.03, 0.515, 0.955);
                transition-delay: 2.9s;
            }

            &:nth-child(7) {
                stroke-dashoffset: 146;
                stroke-dasharray: 146;
                transition: all 1s cubic-bezier(0.455, 0.03, 0.515, 0.955);
                transition-delay: 3.8s;
            }
        }
    }

    .polygon {
        position: absolute;
        z-index: 10;
        opacity: 0;
        transition: opacity 1s cubic-bezier(0.455, 0.03, 0.515, 0.955);
        &.opaon {
            opacity: 1;
            transition: opacity 1s cubic-bezier(0.455, 0.03, 0.515, 0.955);
        }

        &.polygon-left {
            left: 21px;
            top: calc(50% - 35px);
        }

        &.polygon-right {
            right: 21px;
            top: calc(50% - 35px);

            span {
                font-size: 24px;
            }
        }
    }
    .cover-box {
        z-index: 10;
        position: relative;
        margin-left: 150px;
        margin-bottom: 30px;

        ul {
            font-size: 0;
            li {
                width: 115px;
                height: 115px;
                display: inline-block;
                text-align: center;
                vertical-align: top;
                border: 1px solid #d5d5d5;
                margin-left: 10px;
                opacity: 0;
                transition: opacity 1s cubic-bezier(0.455, 0.03, 0.515, 0.955), transform 0.8s cubic-bezier(0.455, 0.03, 0.515, 0.955);
                transform: translateY(-50%);
                &.slideUp {
                    opacity: 1;
                    transition: opacity 1s cubic-bezier(0.455, 0.03, 0.515, 0.955), transform 0.8s cubic-bezier(0.455, 0.03, 0.515, 0.955);
                    transform: translateY(0);
                }
                span {
                    height: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 16px;
                    line-height: 20px;
                }
                &:first-child {
                    margin-left: 0;
                    background-color: #e7e7e7;

                    color: #000;
                }
            }
        }
    }
}

.polygon {
    display: block;
    width: 105px;
    height: 105px;

    &.rot45 {
        transform: rotate(-45deg);
        span {
            font-size: 16px;
            line-height: 20px;
            font-weight: bolder;
            position: relative;
            align-items: center;
            justify-content: center;
            width: inherit;
            height: inherit;
            display: flex;
            text-align: center;
            transform: rotate(45deg);
        }
    }
    &.orange {
        background-color: #e96406;
        color: #fff;
    }

    &.gray {
        background-color: #bdbdbd;
        color: #000;
    }
}

.analy-wrap {
    font-size: 0px;
    margin-top: 97px;
    .analy-box {
        z-index: 20;
        position: relative;
        padding: 52px 30px 30px;
        width: 340px;
        height: 300px;
        @at-root {
            .eng {
                .analy-wrap .analy-box {
                    height: 382px;
                }
            }
        }
        margin-right: 60px;
        border: 1px solid #b5b5b5;
        display: inline-block;
        vertical-align: top;
        background-color: #fff;
        box-shadow: 15px 15px 0px 0px rgba(85, 85, 85, 0.1);
        overflow: hidden;
        opacity: 0;
        transition: opacity 1s cubic-bezier(0.455, 0.03, 0.515, 0.955), transform 0.8s cubic-bezier(0.455, 0.03, 0.515, 0.955);
        transform: translateY(100%);
        &.slideUp {
            opacity: 1;
            transition: opacity 1s cubic-bezier(0.455, 0.03, 0.515, 0.955), transform 0.8s cubic-bezier(0.455, 0.03, 0.515, 0.955);
            transform: translateY(0);
        }

        dl {
            position: relative;
            &:after {
                top: 0px;
                left: 30px;
                content: "";
                position: absolute;
                width: 100px;
                height: 100px;
                display: block;
                background-color: #e1e1e1;
                border-radius: 50%;
                z-index: 0;
            }
            dd {
                &:nth-child(2) {
                    font-size: 24px;
                    margin-top: 55px;
                    color: #e96406;
                }

                &:nth-child(3) {
                    margin-top: 12px;
                    font-size: 15px;
                    letter-spacing: -0.03em;
                    font-weight: 400;
                    line-height: 22px;
                    @at-root {
                        .eng {
                            .analy-wrap .analy-box dl dd:nth-child(3) {
                                line-height: 20px;
                            }
                            .analy-wrap .analy-box dl dd:nth-child(2) {
                                height: 48px;
                            }
                        }
                    }
                }
                span {
                    top: -1px;
                    position: relative;
                    font-size: 20px;
                    font-weight: bold;
                }
            }
        }
        dt {
            position: relative;
            z-index: 10;
            &.analy {
                &-insight {
                    //
                    position: relative;
                    top: 16px;
                    width: 98px;
                    height: 85px;
                    background: url("../img/wwd/analy/analy-insight.png") no-repeat;
                    position: relative;

                    z-index: 1;
                }

                &-campaign {
                    //
                    position: relative;
                    top: 8px;
                    left: 8px;
                    z-index: 1;
                    width: 88px;
                    height: 85px;
                    background: url("../img/wwd/analy/analy-campaign.png") no-repeat;
                }

                &-site {
                    //
                    position: relative;
                    top: 16px;

                    z-index: 1;
                    width: 98px;
                    height: 85px;
                    background: url("../img/wwd/analy/analy-site.png") no-repeat;
                }
            }
        }
        &:last-child {
            margin-right: 0px;
        }
    }
}

.view-wrap {
    @at-root {
        .eng {
            .view-wrap {
                margin-top: 100px;
            }
            .view-wrap .view-box .circle.large > span .small {
                margin-top: 13px;
            }
            .view-wrap .view-box .circle.large > span {
                line-height: 26px;
            }
        }
    }
    margin-top: 142px;
    .view-box {
        z-index: 1;
        margin-left: -3px;
        .circle {
            transition: opacity 1s cubic-bezier(0.455, 0.03, 0.515, 0.955), transform 0.8s cubic-bezier(0.455, 0.03, 0.515, 0.955);
            transform: translateX(50px);
            opacity: 0;
            + .circle {
                transition: opacity 1s cubic-bezier(0.455, 0.03, 0.515, 0.955), transform 0.8s cubic-bezier(0.455, 0.03, 0.515, 0.955);
                transform: translateX(-50px);
                opacity: 0;
                &:before {
                    transform: rotate(-360deg);
                    transition: transform 0.8s cubic-bezier(0.455, 0.03, 0.515, 0.955);
                    transition-delay: 1.8s;
                }
            }
            &.circleTrans {
                opacity: 1;
                transition: opacity 1s cubic-bezier(0.455, 0.03, 0.515, 0.955), transform 0.8s cubic-bezier(0.455, 0.03, 0.515, 0.955);
                transform: translateX(0px);
                &:before {
                    transform: rotate(0deg);
                    transition: transform 0.8s cubic-bezier(0.455, 0.03, 0.515, 0.955);
                    transition-delay: 1.8s;
                }
            }
            > span {
                margin-top: 1px;
                .text.small {
                    margin-top: 2px;
                }
            }
        }
        text-align: center;
        .view-centered {
            padding-top: 45px;
            position: relative;
            width: 235px;
            font-size: 18px;
            line-height: 24px;
            text-align: center;
            opacity: 0;
            transition: opacity 1s cubic-bezier(0.455, 0.03, 0.515, 0.955), transform 0.8s cubic-bezier(0.455, 0.03, 0.515, 0.955);
            transform: translateY(-50%);
            &:after {
                content: "";
                position: absolute;
                display: block;
                margin: 0 auto;
                width: 208px;
                bottom: -63px;
                left: 0px;
                right: 0px;
                height: 108px;
                background: url("../img/wwd/view/view-arrow-area.png") no-repeat;
            }

            &.slideUp {
                opacity: 1;
                transition: opacity 1s cubic-bezier(0.455, 0.03, 0.515, 0.955), transform 0.8s cubic-bezier(0.455, 0.03, 0.515, 0.955);
                transform: translateY(0);
            }
        }

        .view-loy {
            position: relative;
            z-index: 10;
            margin-top: 101px;
            height: 40px;
            padding: 0 17px;
            line-height: 40px;
            border-radius: 20px;
            display: inline-block;
            text-align: center;
            font-size: 24px;
            opacity: 0;
            transition: opacity 1s cubic-bezier(0.455, 0.03, 0.515, 0.955), transform 0.8s cubic-bezier(0.455, 0.03, 0.515, 0.955);
            transform: translateY(-50%);
            &.slideUp {
                opacity: 1;
                transition: opacity 1s cubic-bezier(0.455, 0.03, 0.515, 0.955), transform 0.8s cubic-bezier(0.455, 0.03, 0.515, 0.955);
                transform: translateY(0);
            }
        }
        .view-text {
            position: relative;
            display: block;
            font-size: 24px;
            margin-top: 13px;
            z-index: 10;
            opacity: 0;
            transition: opacity 1s cubic-bezier(0.455, 0.03, 0.515, 0.955), transform 0.8s cubic-bezier(0.455, 0.03, 0.515, 0.955);
            transform: translateY(10px) translateZ(-180px) rotateX(90deg);
            &.titleOn {
                @include titleOn;
            }
        }
        .view-computer-box {
            position: absolute;
            right: -200px;
            top: -98px;
            width: 1374px;
            height: 686px;
            background: url("../img/wwd/view/view-computer-bg.png") no-repeat;
            .view-monitor-wrap {
                position: absolute;
                padding-top: 95px;
                right: 296px;
                .view-text {
                    font-size: 24px;
                    line-height: 26px;
                    margin-top: 0px;
                }
            }
        }
        display: inline-block;
        vertical-align: top;
        font-size: 0px;
        .circle {
            &.large {
                > span {
                    width: 100%;
                    display: block;
                    font-size: 24px;
                    letter-spacing: -0.05em;
                    .small {
                        font-weight: 400;
                        font-size: 15px;
                        line-height: 20px;
                        letter-spacing: 0em;
                    }
                }
            }
            + .circle {
                &.orange {
                    &:before {
                        transition-delay: 2.4s;
                        background: url("../img/wwd/wwd-orange-plus.png") no-repeat;
                    }
                }

                &:before {
                    content: "";
                    width: 42px;
                    height: 42px;
                    position: absolute;
                    top: calc(50% - 21px);
                    left: -22px;
                    vertical-align: top;
                    background: url("../img/wwd/wwd-gray-plus.png") no-repeat;
                }
            }
        }
    }
}
