.form {
    max-width: 920px;
    .fields {
        width: 100%;
        + .fields {
            margin-top: 40px;
        }
        display: flex;
        .field {
            flex: 1 1 0;

            &:nth-child(2) {
                margin-left: auto;
                flex: none;
            }
        }
    }
    .title {
        font-size: 18px;
        font-weight: 500;
        font-family: "Spoqa Han Sans Neo", sans-serif;
        + .select,
        + .input,
        + .button-group,
        + .textarea {
            margin-top: 10px;
        }
    }
}

.privacy-wrap {
    width: 100%;
    .privacy-box {
        margin-top: 10px;
        border: 1px solid #b5b5b5;
        background-color: #f5f5f5;
        iframe {
            width: 100%;
            height: 286px;
        }
        + .control-line {
            margin-top: 20px;
        }
    }
}
.privacy-title {
    font-size: 40px;
    font-weight: bold;
    font-family: "Spoqa Han Sans Neo", sans-serif;
    color: #e96406;
    + .privacy-sub-text {
        margin-top: 36px;
    }
}

.privacy-sub-text {
    line-height: 24px;
    font-size: 15px;
    font-weight: 400;
    font-family: "Spoqa Han Sans Neo", sans-serif;
    + .privacy-info {
        margin-top: 34px;
    }
}

.privacy-info {
    padding-bottom: 100px;
    max-width: 1260px;
    font-size: 15px;
    ul {
        li {
            margin-top: 34px;
            &:first-child {
                margin-top: 0;
            }

            &:last-child {
                margin-bottom: 10px;
            }
        }
    }
    h4 {
        font-weight: bold;
        font-family: "Spoqa Han Sans Neo", sans-serif;
        font-size: 20px;
        + p {
            margin-top: 4px;
        }
    }
    p {
        color: #000;
        line-height: 24px;
        font-size: 15px;
        font-weight: 400;
        font-family: "Spoqa Han Sans Neo", sans-serif;
    }

    span {
        font-size: 15px;
        font-family: "Spoqa Han Sans Neo", sans-serif;
    }

    ol {
        margin-left: 18px;
        margin-top: 10px;
        &.float-ol {
            li {
                display: block;
                font-size: 15px;
                p {
                    font-family: "Spoqa Han Sans Neo", sans-serif;
                    display: flex;
                }
            }
        }
        li {
            display: flex;
            font-size: 15px;
            line-height: 24px;
            font-family: "Spoqa Han Sans Neo", sans-serif;
            margin-top: 0;
            span {
                margin-right: 2px;
            }
        }
    }

    i {
        margin-left: 16px;
        display: flex;
        font-style: normal;
        font-size: 15px;
        font-family: "Spoqa Han Sans Neo", sans-serif;
        &:before {
            margin-right: 3px;
            content: "-";
            display: inline-block;
            vertical-align: top;
        }
    }
}

.control-line {
    display: flex;
    align-items: center;
    .control-left {
        flex: 1 1 0;
    }

    .control-right {
        margin-left: auto;
        button {
            background-color: #000;
            color: #fff;
            width: 200px;
        }
    }
}
