.eng {
    .input {
        font-size: 16px;
        line-height: 24px;
    }
}

.input {
    height: 50px;
    outline: 0;
    padding: 0 20px 1px;
    width: 100%;
    font-size: 18px;
    font-weight: 400;
    font-family: "Spoqa Han Sans Neo", sans-serif;
    border: 1px solid #b5b5b5;

    &:focus {
        outline: 2px solid #e96406;
        outline-offset: -1px;
        &::placeholder {
            color: transparent;
        }
    }
}
