.eng {
    .textarea {
        font-size: 16px;
    }
}

.textarea {
    resize: none;
    width: 100%;
    height: 98px;
    font-size: 18px;
    font-weight: 400;
    font-family: "Spoqa Han Sans Neo", sans-serif;
    outline: 0;
    padding: 14px 19px 0 19px;
    position: relative;
    border: 0;
    line-height: 24px;
    border-top: 1px solid #b5b5b5;
    border-left: 1px solid #b5b5b5;
    border-right: 1px solid #b5b5b5;
}

.textarea-wrap {
    margin-top: 10px;
    border-top: 0;
    position: relative;

    &:after {
        content: "";
        position: absolute;
        left: 0;
        width: 100%;
        height: 1px;
        bottom: 1px;
        background-color: #b5b5b5;
    }
}

.text-info {
    margin-top: 2px;
    font-size: 15px;
    font-weight: 400;
    color: #888;
    font-family: "Spoqa Han Sans Neo", sans-serif;
    line-height: 24px;
}
